<!-- Define it here, so this will print out on the application.html.erb -->
<% content_for :page_title, @review.title %>
<!-- image photo uploaded -->
<%= image_tag @review.photo.medium %>

<h1>
  <%= @review.title %>
</h1>

<h2>
  <%= @review.restaurant %>
</h2>
<!-- adding bookmark only if youre logged in -->
<% if is_logged_in? %>
  <!-- linking which bookmark to linked to (review) -->
  <p>
    <!-- This if statment will produce an array of all users that currently bookmarked  -->
    <% if @review.bookmarks.where(user: @current_user).any? %>
      <!-- if current user bookmarked this already, can unbookmark -->
      <%= link_to "Unbookmark", review_bookmark_path(@review), method: :delete %>
    <% else %>
      <!-- the produced array, user hasn't bookmark this already, can bookmark -->
      <%= link_to "Bookmark", review_bookmark_path(@review), method: :post %>
    <% end %>

  </p>
<% end %>

<!-- Show all bookmarks -->
<h3>Bookmarked by....</h3>
<ul>
  <!-- using rails to loop through users -->
  <% @review.bookmarks.each do |bookmark| %>
    <!-- list -->
    <li>
      <%= bookmark.user.username %>
    </li>
  <% end %>
</ul>


<div class="address">
  <%= @review.address %>
</div>

<div class="score">
  <%= @review.score %> / 10
</div>

<div class="user">
  Posted by
    <% if @review.user.present? %>
      <%= link_to @review.user.username, user_path(@review.user) %>
    <% else %>
      anonymous
    <% end %>
</div>

<div class="body">
  <!-- rails helper formatted version -->
  <%= simple_format @review.body %>
</div>

<!-- if statement validation in ruby -->
<% if @review.ambiance.present? %>
  <div class="ambiance">
    Ambiance: <%= @review.ambiance %>
  </div>
<% end %>

<div class="price">
  Price: <%= @review.price %>
</div>

<!-- if statement validation in ruby -->
<% if @review.cuisine.present? %>
  <div class="cuisine">
    Cusine: <%= @review.cuisine %>
  </div>
<% end %>


<!-- if statement validation if you're the posted reviewer -->
<% if @review.user == @current_user %>
  <div class="actions">
    <!-- if post less one hour ago - using rails helper -->
    <% if @review.created_at > 1.hour.ago %>
      <!--adding button to edit current review -->
      <%= link_to "Edit this review", edit_review_path(@review) %>
    <% end %>
    <!-- adding the button that will delete with confirmation  -->
    <%= link_to "Delete this review", review_path(@review), method: :delete, data: {confirm: "Are you sure?"}  %>
  </div>
<% end %>



<h3>Comments</h3>
<!-- loop through each comments by descending order |[name of action]| -->
<% @review.comments.order("created_at desc").each do |comment| %>
  <div class="comment">
    <!-- simple_format is ruby helper -->
    <%= simple_format comment.body %>

    <!-- adding user posted -->
    <p class="posted">
      Posted by
      <% if comment.user.present? %>
        <%= link_to  comment.user.username, user_path(comment.user) %>
      <% else %>
        anontmous
      <% end %>

    </p>
    <!-- another ruby helper time_ago_in_words -->
    <p class="posted"> Posted at <%= time_ago_in_words comment.created_at %> ago</p>
  </div>
<% end %>

<h3>Add a comment</h3>
<!--This is how we tie comments inside review [(take from @variable), (make latest from Model)] -->
<%= simple_form_for [@review, Comment.new] do |f| %>
  <!-- This is where the form goes -->
  <%= f.input :body %>
  <%= f.button :submit, "Add comment" %>

<% end %>
