<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for :page_title %> - SuperhiBien </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h1>
          <%= link_to root_path do %>
            <%= image_tag "bien-logo.svg" %>
          <% end %>
        </h1>
      </nav>
      <nav>
        <!-- if statement to see if user has session -->
        <% if is_logged_in? %>

          <!-- user identification via "session" -->
          <%= @current_user.username %>

          <!-- if user is admin, show this link -->
          <% if @current_user.is_admin? %>
            <%= link_to "Admin", admin_root_path %>
          <% end %>
          <!-- rails built-in helpers to link within site -->
          <%= link_to "Add a review", new_review_path %>
          <!-- remove session with method "delet" -->
          <%= link_to "Log out", session_path, method: :delete  %>
        <% else %>
          <!-- if not signed up/login show the links -->
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Log in", new_session_path %>
        <% end %>
      </nav>
    </header>


    <main>
      <!-- puts index.html within the body tag -->
      <%= yield %>
    </main>

    <footer>
      Copyright 2018 Bien Riviews - <%= link_to "About", about_path %> - <%= link_to "Terms", terms_path %>
    </footer>
  </body>
</html>
